.fancyBtn {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  border: 3px solid hsla(0,0%,100%,.3);
  background-clip: padding-box;
  background-color: hsla(0,0%,100%,.9);
  border-radius: 8px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 20px;
  transition: background-color .2s;
}

.fancyBtn:before {
  position: absolute;
  z-index: -1;
  top: 5px;
  right: 5px;
  bottom: 0;
  left: 5px;
  background: conic-gradient(from 147.14deg at 50% 50%,#0294fe -55.68deg,#ff2136 113.23deg,#9b4dff 195deg,#0294fe 304.32deg,#ff2136 473.23deg);
  border-radius: 6px;
  content: "";
  filter: blur(20px);
  opacity: .6;
}